<main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
              <h1>Augmentation du prix de l'électricité</h1>
            </div>
    
          </div>
        </section><!-- End Breadcrumbs -->
    
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
          <div class="container">
    
            <div class="row gy-4">
    
              <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                  <div class="swiper-wrapper align-items-center">
    
                    <div class="swiper-slide">
                      <img src="http://infoclim.alwaysdata.net/assets/img/actualites/actu14.jpg" alt="">
                    </div>
    
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
    
              <div class="col-lg-4">
                <div class="portfolio-info">
                  <h3>Détails</h3>
                  <ul>
                    <li><strong>Titre</strong>: Augmentation du prix de l'électricité</li>
                    <li><strong>Continent</strong>: Amérique</li>
                    <li><strong>Date</strong>: 2022-01-10</li>
                  </ul>
                </div>
                <div class="portfolio-description">
                  <h2>Augmentation du prix de l'électricité</h2>
                  <p>
                  Depuis des années, les tarifs de l'énergie n’ont cessé d’augmenter ce qui pèse lourd sur la facture des ménages. Mais cette augmentation s’est accentuée ces derniers mois, entrainant une flambée du prix du kilowattheure (kWh).
La dernière augmentation en date remonte au 1er août 2021 avec une hausse de +0,48% suite à l’annonce de la Commission de 
Régulation de l'Énergie (CRE), mais elle n’est que la suite d’une série d’augmentations particulièrement intense depuis début 2021.
                </p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Portfolio Details Section -->
    
      </main><!-- End #main -->