<main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
              <h1>La perturbation des mers</h1>
            </div>
    
          </div>
        </section><!-- End Breadcrumbs -->
    
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
          <div class="container">
    
            <div class="row gy-4">
    
              <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                  <div class="swiper-wrapper align-items-center">
    
                    <div class="swiper-slide">
                      <img src="http://localhost/webdesignoptim/assets/img/conseq/la-perturbation-des-mers" alt="">
                    </div>
    
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
    
              <div class="col-lg-4">
                <div class="portfolio-info">
                  <h3>Détails</h3>
                  <ul>
                    <li><strong>Titre</strong>: La perturbation des mers</li>
                  </ul>
                </div>
                <div class="portfolio-description">
                  <h2>La perturbation des mers</h2>
                  <p>
                  Sous l’effet de la fonte des glaces dû au réchauffement climatique, le GIEC prévoit 
 une hausse du niveau moyen de la mer et des océans de 82 cm d’ici 2100 si l’on ne réduit pas nos émissions de gaz à effet de serre. L’océan est un puits de carbone, 
 c’est-à-dire qu’il absorbe le dioxyde de carbone (CO2) de l'atmosphère et le stocke. Or l’accumulation de CO2 dans l’océan modifie sa composition et provoque une
  acidification ce qui menace directement ses capacités d'absorption.
                </p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Portfolio Details Section -->
    
      </main><!-- End #main -->