<main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
              <h1>Dérèglement climatique</h1>
            </div>
    
          </div>
        </section><!-- End Breadcrumbs -->
    
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
          <div class="container">
    
            <div class="row gy-4">
    
              <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                  <div class="swiper-wrapper align-items-center">
    
                    <div class="swiper-slide">
                      <img src="http://infoclim.alwaysdata.net/assets/img/actualites/actu12.jpg" alt="">
                    </div>
    
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
    
              <div class="col-lg-4">
                <div class="portfolio-info">
                  <h3>Détails</h3>
                  <ul>
                    <li><strong>Titre</strong>: Dérèglement climatique</li>
                    <li><strong>Continent</strong>: Afrique</li>
                    <li><strong>Date</strong>: 2021-01-10</li>
                  </ul>
                </div>
                <div class="portfolio-description">
                  <h2>Dérèglement climatique</h2>
                  <p>
                  Actuellement, 62% de la population française est exposée aux
 risques climatiques. Afin de s’adapter au dérèglement climatique, de nombreuses personnes seraient contraintes, dans un futur proche,
  à quitter leur lieu d’habitation. Ce phénomène pourrait alors avoir comme conséquences la multiplication du nombre de réfugiés climatiques
   à travers le monde, mais aussi une augmentation de l’instabilité géopolitique. Le dérèglement climatique pourrait de même avoir un impact
    sur la santé de l’Homme. Les vagues de chaleur et les précipitations, de plus en plus intenses et fréquentes, pourraient influer sur la
     production alimentaire et la disponibilité en eau.
                </p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Portfolio Details Section -->
    
      </main><!-- End #main -->