<main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
              <h1>l'achat groupé de Selectra et du WWF France</h1>
            </div>
    
          </div>
        </section><!-- End Breadcrumbs -->
    
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
          <div class="container">
    
            <div class="row gy-4">
    
              <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                  <div class="swiper-wrapper align-items-center">
    
                    <div class="swiper-slide">
                      <img src="http://infoclim.alwaysdata.net/assets/img/actualites/actu11.jpg" alt="">
                    </div>
    
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
    
              <div class="col-lg-4">
                <div class="portfolio-info">
                  <h3>Détails</h3>
                  <ul>
                    <li><strong>Titre</strong>: l'achat groupé de Selectra et du WWF France</li>
                    <li><strong>Continent</strong>: Asie</li>
                    <li><strong>Date</strong>: 2020-10-10</li>
                  </ul>
                </div>
                <div class="portfolio-description">
                  <h2>l'achat groupé de Selectra et du WWF France</h2>
                  <p>
                  Première organisation indépendante de 
protection de l’environnement, le WWF est présent dans plus de 100 pays et compte près de 6 millions de membres. En France, le WWF 
existe depuis 1973 et est engagé dans la protection des océans, de l’alimentation, de la vie sauvage, des forêts, du climat et de l’énergie. 
Le but de cet achat groupé est ainsi de rendre l'énergie renouvelable accessible à tous à des prix compétitifs. Pour cela, Selectra et le WWF
 France ont lancé un appel d'offres à tous les fournisseurs d'énergies renouvelables dans le but d'obtenir des réductions exceptionnelles sur 
 le prix du kWh. Les fournisseurs doivent cependant respecter des conditions strictes afin de fournir une énergie verte premium, réellement 
 respectueuse de l'environnement.
                </p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Portfolio Details Section -->
    
      </main><!-- End #main -->