<main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
              <h1>Le bouleversement de la biodiversité</h1>
            </div>
    
          </div>
        </section><!-- End Breadcrumbs -->
    
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
          <div class="container">
    
            <div class="row gy-4">
    
              <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                  <div class="swiper-wrapper align-items-center">
    
                    <div class="swiper-slide">
                      <img src="http://localhost/webdesignoptim/assets/img/conseq/conseq1.jpg" alt="">
                    </div>
    
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
    
              <div class="col-lg-4">
                <div class="portfolio-info">
                  <h3>Détails</h3>
                  <ul>
                    <li><strong>Titre</strong>: Le bouleversement de la biodiversité</li>
                  </ul>
                </div>
                <div class="portfolio-description">
                  <h2>Le bouleversement de la biodiversité</h2>
                  <p>
                  Le changement climatique et la perte de terres dues à la montée des eaux, 
ses impacts sur l’agriculture et la pêche affectant la sécurité alimentaire, ou encore les épisodes climatiques extrêmes de plus en plus fréquents forcent
 certaines populations à migrer pour survivre. Tout cela provoque ainsi des tensions autour des ressources naturelles disponibles, dont l’eau, renforçant les
 inégalités entre les populations.
La faune et la flore sont tout aussi sensibles à ces changements climatiques. Alors que les cycles végétatifs sont accélérés et fragilisés,
 certaines espèces sont obligées de migrer ou de s’adapter pour ne pas disparaître.
                </p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Portfolio Details Section -->
    
      </main><!-- End #main -->